# macOS
.DS_Store

# Archives
*.zip

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Environment
.env
.venv/
venv/
env/

# Database files
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

